/*** Fonts ***/
@font-face {
    font-family: 'RHIZOME';
    src: url('../fonts/TradeGothicLT-CondEighteen.eot') format('embedded-opentype'),
         url('../fonts/TradeGothicLT-CondEighteen.svg#TradeGothicLT-CondEighteen') format('svg'),
         url('../fonts/TradeGothicLT-CondEighteen.woff') format('woff'),
         url('../fonts/TradeGothicLT-CondEighteen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a, a:visited { 
    color: #5878cc;
    text-decoration: none; 
}

ol, ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

article ol, article ul {
    margin: 0 0 2em 2em;
}

ol li {
    list-style: decimal;
}

article div.no-border {
    border: none;
}

/*** post browser ***/

#post-browser {
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.4);
    font-size: 14px;
    width: 100%;
    background: black;
    position: fixed;
    top: 0;
    height: 30px;
    overflow: hidden;
    z-index: 10;
}

@media (max-width: 926px) {
    #post-browser {
        position: static;
    }
}

#post-browser li {
    float: left;
    margin: 0 12px;
}

#post-browser a {
    display: block;
    color: #cfcfcf;
    padding: 8px 9px;
}

#post-browser ul {
    position: relative;
}

#post-browser li:first-child {
    margin-left: 36px;
}

#post-browser li:last-child {
    position: absolute;
    right: 0;
    top: 1px;
}

#post-browser a.active {
    color: #0f0;
}

#post-browser a:not(.active):hover {
    color: white;
}

/*** content ***/

#column-container {
    width: 100%;
}

#column1 {
    float: left;
    width: 200px;
    height: 409px;
}

@media (max-width: 926px) {
    #column1 {
        display: none;
    }
}

#column2 {
    height: 100%;
    overflow: hidden;
    max-width: 1000px;
    margin-bottom: 50px;
    padding: 0 114px;
}

@media (max-width: 926px) {
    #column2 {
        padding: 0;
    }
}

@media (max-width: 926px) {
    #column2 {
        overflow: auto;
    }
}

#content {
    width: 598px;
    text-align: center;
    margin: 0 auto;
}

@media (max-width: 926px) {
    #content {
        width: 100%;
        max-width: 598px;
    }
}

#content h1 {
    margin: 160px 0 0 0;
    padding: 0;
    font-family: RHIZOME, sans-serif;
    font-size: 43px;
    text-transform: uppercase;
    font-weight: normal;
}

@media (max-width: 926px) {
    #content h1 {
        margin-top: 60px;
    }
}

img.dinkus {
    margin: 22px 0 50px 0;
}

img.dinkus.seperator {
    margin-bottom: 22px;
}

article {
    text-align: left;
    font-size: 14px;
    line-height: 19px;
    padding: 0;
}

article p {
    margin: 0 0 2em 0;
}

article h2 {
    text-align: center;
    font-family: RHIZOME, sans-serif;
    font-size: 24px;
    padding: 0;
    margin: 0;
    line-height: 30px;
}

article h2 a, 
article h2 a:visited, 
article h2 a:hover {
    text-decoration: none;
    color: black;
}

article.archive h2 a,
article.archive h2 a:visited {
    color: #5878cc;
}

article .byline {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    margin: 2px 0 2em 0;
}

@media (max-width: 926px) {
    article {
        padding: 0 10px;
    }
}

article a {
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.4);
}

article a:hover {
    text-decoration: underline;
}

article .img-box {
    width: 596px;
    text-align: center;
    border: 1px solid #cfcfcf;
    margin-bottom: 2em;
}

@media (max-width: 926px) {
    article .img-box {
        border: none;
        display: inline;
    }
}

article img {
    display: block;
    margin: 0 auto;
    padding: 6px 0;
    max-width: 100%;
}

@media (max-width: 926px) {
    article img {
        margin-bottom: 2em;
    }
}

article .caption {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 12px;
}
/*** nav ***/

nav {
    position: fixed;
    top: 0;
    width: 132px;
    margin-left: 80px;
    margin-top: 260px;
    font-family: 'Helvetica Neue', sans-serif;
    text-align: right;
}

@media (max-width: 926px) {
    nav {
        position: static;
        margin-left: 0;
        margin-top: 60px;
        width: 100%;
        text-align: center;
    }
}

nav a {
    font-weight: bold;
    font-size: 18px;
    padding: 4px;
    display: inline-block;
}

nav a.active {
    color: #cfcfcf;
}
nav a:hover:not(.active) {
    color: black;
}

/*** logo ***/

nav li:last-child a {
    position: relative;
    left: 7px;
    font-family: RHIZOME, sans-serif;
    font-size: 27px;
    color: white;
    background: #cfcfcf;
    padding-top: 3px;
    margin-top: 20px;
    width: 112px;
    height: 32px;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 926px) {
    nav li:last-child a {
        left: 0;
    }
}

nav li:last-child a:hover {
    color: white;
    background: black;
}
