/*** Fonts ***/
@font-face {
    font-family: 'RHIZOME';
    src: url('../fonts/TradeGothicLT-CondEighteen.eot') format('embedded-opentype'),
         url('../fonts/TradeGothicLT-CondEighteen.svg#TradeGothicLT-CondEighteen') format('svg'),
         url('../fonts/TradeGothicLT-CondEighteen.woff') format('woff'),
         url('../fonts/TradeGothicLT-CondEighteen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
}

a { text-decoration: none; }

article {
    text-align: left;
    font-size: 14px;
    line-height: 19px;
    padding: 0;
    margin: 0 0 25px 0;
}

article p {
    margin-top: 22px;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol li {
    list-style: decimal;
}

/*** post browser ***/

.post-browser {
    font-size: 14px;
    width: 100%;
    background: black;
    position: fixed;
    top: 0;
    height: 30px;
    overflow: hidden;
    z-index: 10;
}

.post-browser li {
    float: left;
    margin: 0 12px;
}

.post-browser a {
    display: block;
    color: #cfcfcf;
    padding: 8px 9px;
}

.post-browser li:first-child {
    margin-left: 36px;
}

.post-browser li:last-child {
    position: fixed;
    right: 0;
    top: 1px;
}

.post-browser a.active {
    color: #0f0;
}

.post-browser a:hover {
    color: white;
}

/*** content ***/

#main {
    width: 830px;
    margin: 0 auto; 
    border: 1px solid blue;
}

#content {
    float: right;
    width: 72%;
    height: 800px;
    text-align: center;
}

#content h1 {
    margin: 160px 0 0 0;
    padding: 0;
    font-family: RHIZOME, sans-serif;
    font-size: 43px;
    color: #5878cc;
    text-transform: uppercase;
    font-weight: normal;
}

#content img.dinkus {
    margin: 22px 0 50px 0;
}

article h2 {
    text-align: center;
    font-family: RHIZOME, sans-serif;
    font-size: 24px;
    padding: 0;
    margin: 0;
    line-height: 30px;
}

article h2 a, article h2 a:visited, article h2 a:hover {
    text-decoration: none;
    color: black;
}

article .byline {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    margin: 2px 0 0 0;
}

/*** nav ***/

nav {
    position: fixed;
    top: 0;
    width: 132px;
    float: left;
}

nav {
    margin-top: 260px;
    font-family: 'Helvetica Neue', sans-serif;
    text-align: right;
}

nav a {
    color: #5878cc;
    font-weight: bold;
    font-size: 18px;
    padding: 4px;
    display: inline-block;
}

nav a:hover {
    color: black;
}

/*** logo ***/

nav li:last-child a {
    position: relative;
    left: 7px;
    font-family: RHIZOME, sans-serif;
    font-size: 27px;
    color: white;
    background: #cfcfcf;
    padding-top: 3px;
    margin-top: 20px;
    width: 112px;
    height: 32px;
    text-align: center;
    text-transform: uppercase;
}

nav li:last-child a:hover {
    color: white;
    background: black;
}
