<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>

    {% if page.description %}
      {% assign description = page.description %}
    {% else %}
      {% assign description = site.description %}
    {% endif %}

    <meta name="description" content="{{ description }}">
    <meta name="format-detection" content="telephone=no">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@rhizome">

    <meta content="{{ site.name }}" property="og:site_name">
    <meta content="{{ page.title }}" property="og:title">
    <meta content="{% if page.website %}website{% else %}article{% endif %}" property="og:type">
    <meta content="{{ description }}" property="og:description">
    <meta content="{{ site.url }}{% if page.url != '/index.html' %}{{ page.url }}{% endif %}" property="og:url">

    <meta content="{{ site.url }}/assets/img/rhizome_labs_placeholder.png" property="og:image">

    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0">

    <link href="/assets/css/style.css" rel="stylesheet" />
    <link href="/assets/css/syntax.css" rel="stylesheet" />
</head>

<body>
    <div id="post-browser">
     <ul>
        {% for post in site.posts %}
          <li><a {% if page.url == post.url %}class="active"{% endif %} href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        <li><a href="/archive"><img src="/assets/img/green_arrow.png" alt="More" /></a></li> 
      </ul>
    </div>
    <nav>
        <ul>
            <li><a {% if page.url == "/index.html" %}class="active"{% endif %} href="/">Home</a></li>
            <li><a {% if page.url == "/archive/index.html" %}class="active"{% endif %} href="/archive">Archive</a></li>
            <li><a {% if page.url == "/about/index.html" %}class="active"{% endif %} href="/about">About</a></li>
            <li><a href="http://rhizome.org/" target="_blank">Rhizome</a></li>
        </ul>
    </nav>
    <div id="column-container">
    <div id="column1"></div>
    <div id="column2">
        <div id="content">
            <h1><a href="/">{{ site.name }}</a></h1>
            <img class="dinkus" src="/assets/img/green_test_tube_icon.png" />

            {{ content }}
        </div>
    </div>
  </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-768502-5', 'rhizome.org');
  ga('send', 'pageview');

  </script>
</body>
</html>
